<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/will.css">
    <title>Free Will</title>
</head>
<body>
    <div>
    <h1>THIS WILL</h1> 
    <br>
    dated this__________________ day of _________________________ 2018 is made by me {{name}} of {{city}}, {{occupation}}.
    <br>
    <ol>
        <li><strong><u>Earlier Wills</u></strong></li>
            <p><u>I CANCEL and REVOKE</u> all my earlier wills and codicils.</p>
        <li><strong><u>Executors and Trustees</u></strong></li>
            <p><u>I APPOINT</u> as my executors and trustees {{executor1}} of {{executor1city}}, {{executor1occ}} and {{executor2}} of {{executor2city}}, {{executor2occ}}</p>
        <li><strong><u>Administration of My Estate</u></strong></li>
            <p>My trustees and executors shall hold my estate <u>ON TRUST</u> to:</p>
            <ol type="a">
            <li><u>PAY</u> all debts, funeral and testamentary expenses and all duties payable upon the whole of my dutiable estate.</li>
            <li><u>GIFT</u> my residuary estate as I now direct.</li>
            </ol>
        <br>
        <li><strong><u>Gift of Residue</u></strong></li>
            <p><ol>
            <li><u>I GIVE</u> my residual estate to {{beneficiary}} {{beneficiaryName}}</li>
            <li>In the event the above beneficiary predeceases me, <u>I GIVE</u> my residual estate to {{resBen}}</li>
            </ol></p>
        <li><strong><u>Funeral</u></strong></li>
            <p><u>I DIRECT</u> that my bodily remains be {{remains}}</p>
        <br>
    </ol>
    <u>DATED</u> this__________________ day of _________________ 2018.
    <br>
    <br>
    <u>SIGNED</u> by {{name}}___________________________
                                <div>{{name}}</div>
    as his or her last will in our presence
    and attested by us in her presence:
    <br>
    <br>
    Witness Signature: ________________________ <br>
    Witness Name: <u>{{witness1}}</u><br>
    Witness Occupation: <u>{{witness1occ}}</u><br>
    Witness Address: <u>{{witness1city}}</u><br>

    <br>
    <br>
    Witness Signature: ________________________ <br>
    Witness Name: <u>{{witness2}}</u><br>
    Witness Occupation: <u>{{witness2occ}}</u><br>
    Witness Address: <u>{{witness2city}}</u><br>

    </div>
</body>
</html>